<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue ToDoList</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <label for="inpTask">Ввод задачи</label>
        <Input id='inpTask' ref='input' v-model="inpMessage" @keyup.enter=addList()></Input>

        <p>Задачи</p>
        <div class="listCard" v-for="li in list">
            <p class="li">{{li}}</p>
            <div>
                <label for="">Сделано</label>
                <input type="checkbox" name="" :id=li>
            </div>
            <div>
                <button @click=removeList :data-index=list.indexOf(li)>delete</button>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js">
    </script>
    <script src="index.js"></script>

</body>

</html>